# MinIO / AWS S3 Configurations
# For local development with Astro CLI, host.docker.internal is used to access host services
AWS_ACCESS_KEY_ID=your_minio_access_key
AWS_SECRET_ACCESS_KEY=your_minio_secret_key
ENDPOINT=http://host.docker.internal:9000

# MinIO Root Credentials (Docker Compose)
MINIO_ROOT_USER=your_minio_user_name
MINIO_ROOT_PASSWORD=your_minio_password

# PostgreSQL Database Configurations
POSTGRES_USER=postgres_user_name
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db_name

